#chatbot-widget {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#chatbot-widget body {
    background-color: rgb(196, 218, 237);
    transition: 1s all ease-in-out;
}

#chatbot-widget #init {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: rgb(221, 85, 85);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    color: aliceblue;
    cursor: pointer;
}
#chatbot-widget .desc p {
    color: rgb(133, 153, 168);
    margin: 0;
    font-weight: 600;
}

#chatbot-widget .text {
    font-size: 65px;
    font-weight: 800;
    color: cadetblue;
    margin: 0;
}

#chatbot-widget .parent {
    position: relative;
    height: 100%;
    padding: 0 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chatbot-widget .bot-img {
    width: 20rem;
    height: 20rem;
}

#chatbot-widget .child {
    box-shadow: 0 0 2px salmon;
    border-radius: 15px;
    height: 30rem;
    width: 16rem;
    margin: auto;
    background: white;
}

#chatbot-widget .header img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 0.5rem;
    border: 1px solid rgb(231, 231, 231);
    padding: 5px;
}

#chatbot-widget .header {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    background: white;
    width: 16rem;
    padding: 5px 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    z-index: 1;
    box-shadow: 0 0 2px rgb(175, 175, 175);
}

#chatbot-widget .h-child {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

#chatbot-widget .header span {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#chatbot-widget .name {
    font-weight: 600;
}

#chatbot-widget .footer {
    position: absolute;
    bottom: 0;
    width: 16rem;
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: indianred;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 0 3px rgb(153, 153, 153);
}

#chatbot-widget #chat-box {
    position: relative;
    top: 40px;
    padding: 8px 10px;
    font-size: 12px;
    height: 24.2rem;
    overflow: auto;
    background: rgb(224, 241, 253);
    text-align: center;
}

/* these classes will be used in javascript file */
#chatbot-widget .msg {
    background: white;
    padding: 5px 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: max-content;
    font-size: 14px;
    color: lightslategrey;
    box-shadow: 0 0 5px rgb(226, 226, 226);
    max-width: 65%;
    text-align: left;
}

#chatbot-widget .test {
    text-align: right;
    margin: 20px 0;
}

#chatbot-widget .rep {
    background: rgb(253, 243, 224);
    color: lightslategray;
    padding: 5px 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 14px;
    box-shadow: 0 0 5px rgb(211, 211, 211);
}

#chatbot-widget .opt {
    padding: 5px 20px;
    columns: lightsalmon;
    border: 1px solid blueviolet;
    border-radius: 1rem;
    margin: 0.3rem 0.5rem;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    background: white;
    text-align: center;
    font-size: 14px;
    color: blueviolet;
}
